<!-- <form [formGroup]="form">
    <table class="table">
      <thead>
        <tr>
          <th>Range Start</th>
          <th>Range End</th>
          <th>Main Number</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <ng-container formArrayName="ranges">
          <tr *ngFor="let range of ranges.controls; let i = index" [formGroupName]="i">
            <td>
              <input type="text" class="form-control" formControlName="rangeStart" 
                     (input)="validateInput($event)">
              <div *ngIf="isFieldInvalid('rangeStart', i)" class="text-danger">
                Please enter a valid UK number (starting with +44 and up to 13 digits)
              </div>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="rangeEnd" 
                     (input)="validateInput($event)">
              <div *ngIf="isFieldInvalid('rangeEnd', i)" class="text-danger">
                Please enter a valid UK number (starting with +44 and up to 13 digits)
              </div>
              <div *ngIf="isRangeEndLessThanRangeStart(i)" class="text-danger">
                Range End should be equal to or greater than Range Start
              </div>
            </td>
            <td>
              <input type="text" class="form-control" formControlName="mainNumber" 
                     (input)="validateInput($event)">
              <div *ngIf="isFieldInvalid('mainNumber', i)" class="text-danger">
                Please enter a valid UK number (starting with +44 and up to 13 digits)
              </div>
              <div *ngIf="isMainNumberOutOfRange(i)" class="text-danger">
                Main Number must be between Range Start and Range End
              </div>
            </td>
            <td>
              <button type="button" class="btn btn-success" (click)="removeRange(i)" [disabled]="ranges.length <= 1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                  </svg>
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  
    
    <button type="button" class="btn btn-secondary" (click)="addRange()">Add More</button>
  </form> -->
  
  <!-- src/app/my-request/provide-numbers/provide-numbers.component.html -->
<!-- src/app/my-request/provide-numbers/provide-numbers.component.html -->
<!-- src/app/my-request/provide-numbers/provide-numbers.component.html -->
<div [formGroup]="form" class="provide-numbers">
  <div>
    <label style="float: left;">Your placing {{ ranges?.length }} ranges</label>
    <div style="float: right;">
      <span>Selected: {{ selectedRangeCount }}</span>
      <button [disabled]="selectedRangeCount === 0" class="btn btn-primary" (click)="removeSelectedRanges()">Remove selected range</button>
      <button (click)="addRange()" class="btn btn-danger">Add RangeEnd</button>
    </div>
  </div>
  <table>
    <thead>
      <tr>
        <th>Select</th>
        <th>ID</th>
        <th>RangeStart</th>
        <th>RangeEnd</th>
        <th>MainNumber</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody formArrayName="ranges">
      <tr *ngFor="let range of ranges.controls; let i = index" [formGroupName]="i">
        <td><input type="checkbox" formControlName="selected"></td>
        <td>{{ range?.get('id')?.value }}</td>
        <td>
          <input type="text" formControlName="rangeStart">
          <div *ngIf="isFieldInvalid('rangeStart', i)" class="text-danger">
            Please enter a valid UK number (starting with +44 and up to 13 digits)
          </div>
        </td>
        <td>
          <input type="text" formControlName="rangeEnd">
          <div *ngIf="isFieldInvalid('rangeEnd', i)" class="text-danger">
            Please enter a valid UK number (starting with +44 and up to 13 digits)
          </div>
          <div *ngIf="isRangeEndLessThanRangeStart(i)" class="text-danger">
            Range End should be equal to or greater than Range Start
          </div>
        </td>
        <td>
          <input type="text" formControlName="mainNumber">
          <div *ngIf="isFieldInvalid('mainNumber', i)" class="text-danger">
            Please enter a valid UK number (starting with +44 and up to 13 digits)
          </div>
          <div *ngIf="isMainNumberOutOfRange(i)" class="text-danger">
            Main Number must be between Range Start and Range End
          </div>
        </td>
        <td>
          <!-- <button (click)="ranges.removeAt(i)">Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>
  <div style="text-align: right;">
    <button (click)="reset()" class="btn btn-secondary">Reset</button>
    <button [disabled]="!form.valid" (click)="validate()" class="btn btn-primary">Validate</button>
    <button [disabled]="!form.valid" (click)="navigateToStep2()" class="btn btn-danger">Customer Details</button>
  </div>
</div>
