<ngb-tabset [activeId]="activeTab.toString()">
    <ngb-tab title="Provide Numbers" id="1">
        <ng-template ngbTabContent>
            <app-provide-numbers (valid)="setValid(0, $event)"></app-provide-numbers>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="End Customer Details" id="2">
        <ng-template ngbTabContent>
            <app-customer-details (valid)="setValid(1, $event)"></app-customer-details>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Portin Details" id="3">
        <ng-template ngbTabContent>
            <app-portin-details (valid)="setValid(2, $event)"></app-portin-details>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Request Summary" id="4">
        <ng-template ngbTabContent>
            <app-request-summary (valid)="setValid(3, $event)"></app-request-summary>
        </ng-template>
    </ngb-tab>
</ngb-tabset>

<div class="d-flex justify-content-between mt-3">
    <button class="btn btn-secondary" (click)="previous()" [disabled]="activeTab <= 1">Previous</button>
    <button class="btn btn-primary" (click)="next()" [disabled]="!isNextEnabled()">Next</button>
</div>
